<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\style.css"> <!-- Link to the provided CSS styles -->
    <title>Contact </title>

    <link rel="icon" href="{{ url_for('static', filename='logo1.png') }}" type="image/png" />
</head>

<body>
    <!-- Header Section -->
    <header id="header">
        <img class="logo" src="static\logo1.png" alt="Company Logo" />
        <nav >
            
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="shop">Shop</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="cart"><img src="static\shoppingbag.svg" class="ring"></a></li>
            </ul>
        </nav>
    </header>

    <section id="contactus">
        <h3>Contact Us</h3>
        <p>For any inquiries or requests, please contact us at</p>
        <div id="contactinfo">
        <div class="toGrey">
            <img src="static\locationPin.svg" alt="Location Icon" class="contactIcon">
            <h3 id="toGrey">ADDRESS</h3>
            <p>
                6/673-8, Pandiyan St,Lakshmi Nagar,<br>
                Virudhunagar,Tamil Nadu<br>
            <a href="https://www.google.com/maps/place/Puvana's+Macrame/@9.6046009,77.9452327,17z/data=!3m1!4b1!4m6!3m5!1s0x3b012b71855dcd85:0x4950eca62e7bb0ce!8m2!3d9.6046009!4d77.947813!16s%2Fg%2F11wjgxfvsm?entry=ttu&g_ep=EgoyMDI1MDUyOC4wIKXMDSoASAFQAw%3D%3D" 
                target="_blank" 
                style="color: #0077cc; text-decoration: underline;">
                ➤ Visit on Google Maps
            </a>
            </p>
        </div>
        <div class="toGrey">
            <img src="static\phoneIcon.svg" alt="Phone Icon" class="contactIcon">
            <h3>PHONE</h3>
            <p>+91 9791718452<br>
                +91 9496392884
            </p>
        </div>
        <div class="toGrey">
            <img src="static\emailIcon.svg" alt="Email Icon" class="contactIcon">
            <h3>EMAIL</h3>
            <p>puvanasmacrame@gmail.com</p>
        </div>
        </div>
    </section>
    <footer>
        <div class="footer-container">
            
            <div class="footer-section">
                <h6>Quick Links</h6>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="shop">Shop</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </div>
            <div class="footer-section">
                    <h6>Contact Us</h6>
                    <p>Email: puvanasmacrame@gmail.com</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>2025 Puvana's Macrame.</p>
        </div>
    </footer>
  
</body>

</html>
