<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Puvana's Macrame</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0/>
    <meta
      name="description"
      content="Explore our collection of wire jewelry, featuring unique and elegant accessories. Shop now and discover the beauty of wire craftsmanship!" />
    <meta
      name="keywords"
      content="Jewelry, Custom, Handmade, Accessories, Fashion, Wire, Metal, USA Made, Eco-Friendly, Sustainable, Aesthetic, Trendy"
    />
    <link rel="icon" href="static\logo1.png" type="image/png" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="script.js"></script>
  </head>
  <body>
    <header id="header">
      <img class="logo" src="static\logo1.png" alt="Company Logo" />
      <nav>
        <ul id="navbar">
          <li><a href="/">Home</a></li>
          <li><a href="shop">Shop</a></li>
          <li><a href="about">About</a></li>
          <li><a href="contact">Contact</a></li>
          <li><a href="cart"><img src="static\shoppingbag.svg" class="ring"/></a>
          </li>
        </ul>
      </nav>
    </header>
    <section id="hero">
      <div id="landing">
        <div id="text">
          <img src="static\head.png" height="150px">
          <p>Knot ordinary décor — weave warm vibes.</p>
          <div id="items">
            <a href="{{ url_for('shop') }}?category=Walls" style="text-decoration: none; color: inherit;">
            <div id="rings" class="displayitems">
            <img
              src="static/shelf1.jpg"
              class="displayitempics"
              alt="Aesthetic Wire Rings"
            />
            <div id="des">
            <h5>Wall Decor</h5>
            </div>
            </div>
            </a>

            <a href="{{ url_for('shop') }}?category=Essentials" style="text-decoration: none; color: inherit;">
            <div id="bracelets" class="displayitems">
              <img
                src="static\pillow1.jpg"
                class="displayitempics"
                alt="Aesthetic Wire Bracelets"
              />
              <div id="des">
                <h5>Home Essentials</h5>
              </div>
            </div></a>

            <a href="{{ url_for('shop') }}?category=Plant" style="text-decoration: none; color: inherit;">
            <div id="necklaces" class="displayitems">
              <img
                src="static\dh (3).jpg"
                class="displayitempics"
                alt="Aesthetic Wire Necklaces"
              />
              <div id="des">
                <h5>Plant Accessories</h5>
              </div>
            </div></a>
          </div>
        </div>
        <div id="landingimg">
          <img
            id="roses"
            src="static\pc (5).png"
            class="heroimage"
            alt="Beautiful Rose Wire Jewelry Rings"
          />
        </div>
      </div>
    </section>
    <section id="featuredprods">
  <h3>Featured Products</h3>
  <div id="feats">
    {% for product in products %}
    <div class="featring">
      <a href="{{ url_for('product', product_id=product[0]) }}">
      <img src="{{ url_for('static', filename=product[3]) }}" class="fr">
      </a>
      <div class="des">
        <h5>{{ product[1] }}</h5>
        <p1>₹ {{ product[2] }}</p1>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
    <section id="contactus">
      <div class="TextContent">
        <h3>Contact Us</h3>
        <div class="ButtonCombo">
          <div class="Button">
            <div class="TextContainer">
              <p class="Cta" onclick="window.location.href='contact'">
                Contact
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="footer-container">
        <div class="footer-section">
          <h6>Quick Links</h6>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="shop">Shop</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h6>Contact Us</h6>
          <p>Email: puvanasmacrame@gmail.com</p>
        </div>
      </div>
      <div class="footer-bottom">
        <p>2025 Puvana's Macrame.</p>
      </div>
    </footer>
  </body>
</html>